* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: linear-gradient(120deg, rgb(68, 129, 221),  rgb(7, 100, 199));
   color: white;
   min-height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}

header {
   font-size: 1.2rem;
}

header, form {
   min-height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

form input, form button {
   background: white;
   font-size: 1.5rem;
   padding: 0.5rem;
   border: none;
}

form button {
   cursor: pointer;
   transition: all 0.3s ease;
}

form button:hover {
   background: rgb(7, 199, 7);
   color: white;
}

.date {
   display: flex;
   justify-content: center;
   color:rgb(17, 248, 140)
}

.refresh {
   font-size: 1.2rem;
   background:rgb(12, 12, 12);
   color: white;
   padding: 0.7rem;
}

/* Styling the added elements from the JS */

.todo-ctn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.todo-list {
   min-width: 20%;
   list-style: none;
}

.todo {
   margin: 0.5rem;
   font-size: 1rem;
   background-color: white;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.todo li {
   flex: 1;
}

.todo-item {
   padding: 0rem, 0.5rem;
}

.check-btn {
   background-color: rgb(7, 199, 7);
   border: none;
   cursor: pointer;
   color: white;
   padding: 0.5rem;
}

.bin-btn {
   background-color: rgb(247, 152, 10);
   border: none;
   cursor: pointer;
   color: white;
   padding: 0.5rem;
}

.checked {
   text-decoration: line-through;
   opacity: 0.5;
}

.fa-trash, .fa-check {
   pointer-events: none;
}